<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Being Zero Sample App</title>

    <!--
        <link rel="stylesheet" href="/css/external/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/external/jquery-ui.min.css" />
    -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="icon" href="/img/favicon.ico" />
  </head>

  <body>

    <h1 id='appName'>Being Zero Hello World App</h1>
    <h1 id='appVersion'>Being Zero Hello World App</h1>

    <!--
        <script src="/js/external/jquery.min.js"></script>
        <script src="/js/external/jquery-ui.min.js"></script>
        <script src="/js/external/bootstrap.min.js"></script>
    -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/site.js"></script>
  </body>
</html>